* {
  box-sizing: border-box;
}
.shop-bg {
  background-color: rgb(210, 210, 210);
  padding: 20px;
}

.shop-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  margin: auto;
}

.shop-item {
  width: 33%;
  max-width: 300px;
  padding: 20px;
}

.shop-item img {
  width: 100%;

  /* 이미지 밑에 보이지 않는 선 있어서 overlay박스와 크기 다를때
  display: block 해준다 */
  display: block;
}

/*애니메이션 만들기
1. 시작스타일만들기
2. 최종스타일 만들기 
3. 언제 최종으로 바뀔지 정하기
4. transition */

/*2.최종 스타일 만들기 */
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: all 1s;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

/*3.언제 바뀔지 정하기*/

.overlay:hover {
  opacity: 1;
}
