img {
  vertical-align: bottom;
}

.slide-container {
  overflow: hidden;
  width: 30vw;
}

.slide-list {
  background-color: grey;
  width: 90vw;

  /*margin-left: -200vw;*/
  transition: all 1s;
  display: flex;
}
.slide-box {
  width: 30vw;
}
.slide-box img {
  width: 100%;
}
