img {
  vertical-align: bottom;
}

.slide-container {
  background-color: grey;
  width: 300vw;
  /*margin-left: -200vw;*/

  transition: all 1s;
}
.slide-box {
  width: 100vw;
  float: left;
}
.slide-box img {
  width: 100%;
}
