* {
  box-sizing: border-box;
  margin: 0;
}

.main-background {
  width: 100%;
  height: 500px;
  background-image: url(../image/sky.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 1px;
  color: white;
  position: relative;
}
.main-title {
  font-size: 40px;
  text-align: center;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

.main-content {
  font-size: 25px;
  margin: auto;
  top: 40px;
  padding: 30px;
  max-width: 80vw;
  line-height: 1.5;
}

.main-button {
  margin-top: 100px;
  height: 30px;
  font-size: 15px;
  background-color: #e1c3e3;
  border: none;
  border-radius: 5px;
  position: absolute;
  right: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  width: 100px;
  top: 270px;
  z-index: 90;
}

.main-button a {
  text-align: center;
  text-decoration: none;
  color: black;

  /* 버튼의 어느 영역을 클릭해도 a link 클릭되도록*/
  width: 100%;
  margin: 0;
  padding: 0;
  display: block;
  text-align: center;
  height: 100%;

  /* a 태그의 세로 정렬 맞추기*/
  display: flex; /*CSS3*/
  align-items: center; /*Vertical align*/
  justify-content: center; /*horizontal align*/
}

.main-button:hover {
  background-color: #2153a3;
  border-radius: 5px;
}

.main-button:hover > a {
  text-decoration: none;
  color: #e1c3e3;
  background-color: #2153a3;
  border-radius: 5px;
  display: flex; /*CSS3*/
  align-items: center; /*Vertical align*/
  justify-content: center; /*horizontal align*/
}

.explain-box {
  width: 70vw;
  margin: auto;
  padding: 20px;
  text-align: center;
  color: rgb(35, 35, 87);
  border: 1px solid #e1c3e3;
  background-color: white;
  position: relative;
  top: -40px;
}

.explain-box h4 {
  padding: 10px;
}

.nav-container {
  background-color: #2153a3;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-container div:nth-child(2) {
  flex-grow: 1;
}

.nav-item {
  font-size: 20px;
  margin-left: 20px;
  margin-right: 20px;
  color: white;
}

/* 반응형 연습 */
.product-container {
  width: 90%;
  max-width: 960px;
  margin: auto;
}

.product-container div {
  float: left;
  width: 25%;
  height: 140px;
  text-align: center;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 17px;
}

.product-container i {
  padding: 11px;
  background-color: #2153a3;
  color: white;
  width: 80px;
  height: 80px;
  border-radius: 50px;
  line-height: 1.8;
}

.shop-bg {
  width: 100%;
  background-color: grey;
  height: 300px;
}

.shop-container {
  width: 80%;
  max-width: 1500px;
  display: flex;
  justify-content: space-around;
  margin: auto;
}

.shop-item {
  width: 33%;
  margin: 20px;
  padding: 20px;
  position: relative;
}

.shop-item img {
  width: 100%;
  display: block;
}

/* 랩이 중요 */
.overlay-wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.overlay-black {
  width: 100%;
  height: 100%;
  background-color: rgb(181, 181, 181, 0.4);
  opacity: 1;
  transition: all 1s;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  position: absolute;
  top: 100%;
}

.shop-item:hover .overlay-black {
  top: 50%;
}

@media screen and (max-width: 768px) {
  .main-title {
    font-size: 25px;
  }
  .main-content {
    font-size: 13px;
    line-height: 1.4;
  }
  .nav-item {
    font-size: 12px;
  }

  .product-container div {
    width: 100%;
  }
}

/* 애니메이션 만들기*/

@media screen and (max-width: 1200px) {
  .main-title {
    font-size: 30px;
  }
  .main-content {
    font-size: 20px;
  }

  .nav-item {
    font-size: 16px;
  }
  .product-container {
    max-width: 600px;
  }
  .product-container div {
    width: 50%;
  }
}
